<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootique Mvc Mustache Demo</title>
    <link href="css/style.css" rel="stylesheet">
</head>

<body>

<!-- Page Content -->
<div>
        <h1>For Administrators Only</h1>

    {{> com/nixmash/shiro/views/fragments/footer.mustache }}

</div>
</body>
</html>
